/*...BASIC...*/
.clear { 
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
img.right, 
.right img, 
.front .content img.right, 
.front .content .right img{
	margin-left: 10px;
}
img.left, 
.left img,
.front .content img.left, 
.front .content .left img {
	margin-right: 10px;
}
.content img { 
	margin: 0 10px 10px 10px;
}
.content img.file-icon { 
	margin: 0;
}
.front .content img { 
	margin: 0;
}
a { 
	color: #242424;
	text-decoration: none;
}
a:hover, #main a.btn:hover {
	text-decoration: none;
}
#main a:hover {
	text-decoration: underline;
}
#content_wrap a, #left_col a {
	color: #560251;
}
p {
	margin: 8px 0;
}
input { 
	padding: 1px 5px;
	border: 1px solid #c2c2c2;
}
.form-item-search-block-form input {		
	color: #a1a1a1;
}
a.btn, .btn { 
	color: #fff;
}
.node-page a {
	background-color: #ece7ec;
}
.btn,
#block-user-login input#edit-submit {
	padding: 6px 15px 9px;
	float: right;
	background-color: #560251;
	border: 0 none;	
	font-size: 1em;
	font-family: ff-tisa-web-pro;
	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: ff-tisa-web-pro, georgia, serif;
}
#main ul { 
	list-style: disc outside none;
	padding-left: 30px;
}
#main ol {
	list-style: decimal outside none;
	padding-left: 36px;
}
ul li.leaf, ul li.expanded, ul li.collapsed,
ul.menu li.leaf, ul.menu li.expanded, ul.menu li.collapsed {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

/*...STRUCTURE...*/
body { 
	color: #302F30;
	font-size: 62.5%;
}
#wrapper { 
	width: 960px;
	margin: 0 auto;
	font-family: helvetica, arial, sans-serif;
}
#header { 
	height: 160px;
	margin-bottom: 20px;
	background: url(../images/world.png) no-repeat 480px 12px;
	position: relative;
}
#header_left {
	width: 300px;
	float: left;
	padding-top: 25px;
}
.region-header {
	width: 600px;
	float: right;
}
#main {
	clear: both;
	margin-top: 10px;
	padding: 5px 0 80px 0;
	font-size: 1.4em;
	line-height: 1.5em;
}
#content_wrap {
	width: 700px;
	padding: 15px 10px 10px 10px;
	float: left;
}
#right_col, 
#left_col { 
	width: 230px;
	min-height: 1px;
	margin: 0 0 0 10px;
	padding-top: 15px;
	float: left;
}
#right_col {
	width: 220px;
	padding-right: 10px;
}

#left_col {
	margin: 0 10px 0 0;
}

#footer {
	border-top: 1px solid #560251;
	margin: 10px;
	padding: 20px 5px;
	font-size: 1.2em;
	overflow: hidden;
}

/*...HEADER...*/
#block-menu-menu-multi-lingual {
	float: right;
	font-size: 1.2em;
}
#block-system-user-menu {
	float: right;
	font-size: 1.2em;
}

#block-menu-menu-multi-lingual .content li,
#block-system-user-menu .content li {
	list-style: none outside none;
	padding: 0;
	display: inline;
}
#block-menu-menu-multi-lingual .content li {
	margin-right: 4px;
}
#block-menu-menu-multi-lingual .content li a {
	display: inline-block;
	padding: 3px 15px 3px;
	color: #560251;
	border: 1px solid #560251;
	border-width: 0 1px 1px 1px;
	background-color: #fff;
}
#block-system-user-menu .content li a {
	display: inline-block;
	padding: 3px 15px 4px;
	color: #fff;
	background-color: #560251;
}


/*...NAVIGATION...*/
#top_nav { 
	clear: both;
	position: relative;
	font-family: ff-tisa-web-pro, georgia, serif;
}

#main_menu {
	height: 33px;
	padding-left: 10px;
}

#top_nav li { 
	float: left;
	font-size: 1.6em;
	line-height: 33px;
}

#main_menu li {
	margin-right: 8px;
}

#main_menu li a { 
	height: 20px;
	padding: 3px 15px;
	color: #fff;
	background-color: #560251;
	-khtml-border-radius-topleft: 6px;
  	-khtml-border-radius-topright: 6px;
  	-moz-border-radius-topleft: 6px;
  	-moz-border-radius-topright: 6px;
  	-webkit-border-top-left-radius: 6px;
  	-webkit-border-top-right-radius: 6px;
  	border-top-left-radius: 6px;
  	border-top-right-radius: 6px;	
}

#main_menu li a.active-trail {
	background-color: #D0C6D2;
	color: #242424;
	font-weight: bold;
}

#secondary-menu-wrap {
	width: 960px;
	height: 30px;
	clear: left;
	background: url(../images/sub-nav-grad.png) repeat-x 0 0;
}

#secondary_menu {
	padding-left: 15px;
	position: absolute;
	left: 0;
	top: 30px;
}

#secondary_menu li {
	margin-right: 15px;
	padding: 0 5px;
	font-size: 1.4em;
}

#secondary_menu li a.active { 
	font-weight: bold;
}

/*...TITLES...*/
#header h1 {
	font-size: 3em;
}

#header h2 {
	font-size: 1.5em;
	font-style: italic;
}

.front h2#page-title,
#hp_right h2 {
	padding: 2px 0;
	border-bottom: 1px solid #560251;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 1.1em;
}

#left_col #block-views-news-block .content h2 {
	padding: 0;
	border-bottom: 0 none;
	text-transform: none;
}


/*...HOMEPAGE...*/
#hp_images {
	margin-bottom: 20px;
	overflow: hidden;
}

#hp_images img, 
#hp_left, 
#hp_latest {
	width: 340px;
	float: left;
}

#hp_images img {
	height: 227px;
}

#hp_images img.first, 
#hp_left { 
	margin-right: 20px;
}

#hp_left, 
#hp_right {
	width: 340px;
	float: left;
}

/*...HOMEPAGE - NEWS...*/
.hp-news-ticker, 
.view-featured-content { 
	margin: 10px 0 25px;
}

.hp-news-ticker .views-row {
	background-color: #F6F1F6;
	padding: 5px;
	margin-bottom: 10px;
}

.hp-news-ticker .views-row h2 {
	font-size: 1em;
	text-transform: uppercase;
	line-height: 1.1em;
	margin-bottom: 5px;
}

#hp_right .views-field-title {
	margin-bottom: 5px;
	font-weight: bold;
}

.hp-news-ticker .submitted {
	margin-bottom: 10px;
	font-size: 0.8em;
}

.view-id-news .views-row ul.links {
	margin-top: 10px;
	display: block;
	font-size: 0.9em;
}

.node-readmore {
	margin-right: 6px;
}

/*...E_NEWS SIGNUP...*/
#e_news {
	padding: 10px 5px 20px;
	border-top: 1px solid #560251;
	border-bottom: 1px solid #560251;
}

#e_news span {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-family: ff-tisa-web-pro, georgia, serif;
	text-transform: uppercase;
}

#e_news input#email { 
	width: 228px;
	height: 26px;
}

#e_news .signup {
	width: 86px;
	padding: 1px 10px 4px;
}

/*...HOMEPAGE - FEATURE...*/
.view-featured-content .views-field-field-link {
	padding-top: 10px;
	font-weight: bold;
	clear: both;
}

.view-featured-content .views-field-field-link a {
	text-decoration: underline;
}

.view-featured-content .views-field-field-media h2 {
	display: none;
	visibility: hidden;
}

.view-id-featured_content img {
	border: 1px solid #560251;
}

/*...LOGIN BLOCK...*/
#block-user-login .form-item {
	overflow: hidden;
	margin: 0 0 10px 0;
}

#block-user-login label {
	width: 75px;
	float: left;
	font-weight: normal;
	line-height: 26px;
}

#block-user-login label span.form-required, 
#block-user-login .item-list ul li.first  {
	display: none;
	visibility: hidden;
}

#block-user-login input#edit-name,
#block-user-login input#edit-pass {
	width: 130px;
	height: 22px;
	float: right;
}

#block-user-login .item-list ul li {
	margin: 0 !important;
	font-size: 0.8em;
	float: right;
}

#block-user-login input#edit-submit {
	color: #fff;
	padding: 1px 10px 4px;
	clear: right;
	margin-top: 10px;
}

/*...SEARCH BLOCK...*/
#block-search-form {
	width: 173px;
	height: 23px;
	float: right;
	clear: right;
	padding-top: 30px;
}

#block-search-form .form-item {
	margin: 0;
	float: left;
}

#block-search-form #edit-actions {
	height: 23px;
	float: right;
}

#block-search-form input#edit-search-block-form--2 {
	width: 136px;
	height: 19px;
}

#block-search-form input#edit-submit {
	padding: 5px 6px;
}

/*...TWITTER BLOCK...*/
.view-twitter-block .views-row {
	margin-bottom: 15px;
}

.view-twitter-block .placeholder {
	font-style: normal;
}

.twitter-follow {
	width: 160px;
	margin: 25px auto;
	display: block;
}

.twitter-follow img {
	margin: 0;
}

#left_col .block h2.twitter-bird, 
#right_col .block h2.twitter-bird {
	height: 36px;
	line-height: 36px;
	background: url(../images/twitter.png) no-repeat left center;
	padding-left: 54px;
}

/*...OTHER BLOCKS...*/
.region-sidebar-first .block,
.region-sidebar-second .block { 	
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #560251;
	overflow: hidden;
}

.region-sidebar-second .block {
	padding: 15px 5px 22px;
}

#hp_right .block {
	clear: both;
}

#left_col .block h2, 
#right_col .block h2 {
	font-size: 1.2em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

.quote-block .views-field-field-testimonial {
	padding: 15px 0 25px;
	background: url(../images/quotes-left.png) no-repeat 0 0;
	word-wrap: break-word;
}

.quote-block .views-field-field-testimonial .field-content {
	background: url(../images/quotes-right.png) no-repeat right bottom;	
}

.quote-block a.see_members {
	margin-top: 25px;
}

#main a.see_members:hover {
	text-decoration: none;
} 

.become_member { 
	width: 180px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 1.4em;
}

#login p {
	font-size: 1.1em;
	margin-bottom: 10px;	
}

#login .text_input { 
	width: 128px;
	height: 20px;
}

/*...VIEWS...*/
#block-views-members-block {
	margin-top: 30px;
}

/*...FOOTER...*/
#addresses {
	width: 340px;
	margin-right: 20px;
	float: left;
	line-height: 1.6em;
}

#credits {
	float: right;
	line-height: 1.6em;
	text-align: right;
}

#footer a:hover {
	text-decoration: underline;
}

/*...NEWS PAGE...*/
.news-page-view .views-row,
.news-page .views-row,
.view-members-area .views-row, 
.news-archive .views-row, 
.view-resources .views-row,
.members-page .views-row,
.events-page .views-row, 
.members-list .views-row {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #560251;
	overflow: hidden;
}

h2#page-title, h2.title, 
h2.field-content {
	line-height: 1em;
	margin-bottom: 15px;
}

.news-page .views-field-title h2, 
.view-members-area h2.title, 
.news-archive .views-field-title h2, 
.view-resources .views-field-title h2,
.member-news-block h2, 
.view-events h2.title {
	font-size: 1.2em;
}

.news-page .views-field-field-media {
	float: right;
	padding: 0 0 10px 10px;
}

.post-date, 
.views-field-created, 
.submitted, 
.view-twitter-block .views-field-timestamp, 
.events-block .views-field-field-date { 
	font-size: 0.9em;
	color: #939393;
}

.member-news-block .views-row, 
#views-exposed-form-resources-page {
	background-color: #F6F1F6;
    margin-bottom: 10px;
	padding: 5px;
}

/*...EVENTS PAGE...*/
.node-event .field {
	margin-bottom: 10px;
}

#main .node-event ul.links {
	margin-left: 0;
}

/*...BLOG MENU...*/
#block-menu-menu-blog-menu {
	overflow: hidden;
	margin-bottom: 20px;
}

#block-menu-menu-blog-menu .content li {
	float: left;
}

#block-menu-menu-blog-menu .content li.first {
	margin-right: 6px;
}

#block-menu-menu-blog-menu .content a, 
#left_col a.submit-resource, 
#edit-submit-resources, #edit-reset, 
#left_col a.login-consultants {
	padding: 1px 8px 5px;
	background-color: #560251;
	border: 0 none;	
	font-size: 1em;
	font-family: ff-tisa-web-pro;
	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
	color: #fff;
	float: left;
}

#edit-submit-resources, #edit-reset { 
	height: 30px;
}

#edit-submit-resources {
	clear: left;
}

#left_col a.submit-resource { 
	float: none; 
	display: inline-block;
	margin-bottom: 10px;
}

#block-menu-menu-blog-menu .content a:hover, 
#left_col a.submit-resource:hover {
	text-decoration: none;
}


.views-exposed-form .views-submit-button {
	clear: left;
}


/*...TABLES...*/
table {
	width: 100% !important;
}
td {
	padding: 5px 10px;
	background-color: #F6F1F6;
}

th { 
	padding: 0 10px;
	background-color: #302F30;
	color: #fff;
}


/*...MISC...*/
ul.calendar-links {
	display: none;
	visibility: hidden;
}

#main .members-list ol {
	padding-left: 0;
}

.members-list .views-field-field-logo {
	width: 240px;
	margin-left: 15px;
	float: right;
}

#block-views-members-block-3 h2,
#block-views-members-block-4 h2,
#block-views-members-block-5 h2,
#block-views-members-block-6 h2
 {
	font-size: 1.1em;
	margin-bottom: 1em;
}

/*
 * Required by kcs_highlight_tabs module.
 *
 * Suppress second display of page title.
 *
 * Note: .node must be a direct descendant of .content so that in a view, the
 * h2.title still displays.
 *
 * In a view, e.g. /events, .node is a descendant of .view-content > views-row
 */
/* commented out 2011-10-17
 * Instead of solving the problem in css, it's better done
 * in node.tpl.php
 *
 * In s/a/m/themes/kcs/node.tpl.php
 *
 * If you replace line 84 <php if (!$page): ?> with <php if ($teaser): ?> 
 * then the problem goes away and you don't need the css fix.
 *
 * Essentially we only want the h2 link to show on a teaser.
.region #block-system-main .content > .node h2.title {
  display: none;
  visibility: hidden;
}
  */
